**/venv/
**/.idea/
**/target/
**/node_modules/
**/*.jar
**/BikeCAD_17.1_configuration/
**/META-INF/
nginx/secrets/
/backend/src/data_wrangling/original_datasets/
/backend/src/data_wrangling/generated/
**/dist/
/frontend/gui/src/bin/
**/*.log
/build/
**/web-target/
**/.tmp/
